#main {
    position: absolute;
    color: white;
}

#modal {
    position: absolute;
    top: 150px;
    left: 200px;
    width: 600px;
    height: 400px;
    border: 8px solid grey;
    background-color: rgb(15, 30, 15);
    display: none;
    color: rgb(50, 200, 50);
}

h1,
button,
label,
span,
h3 {
    font-family: 'Orbitron', sans-serif;
}

.btn {
    min-width: 200px;
    font-size: 32px;
    border-radius: 16px;
    background-color: darkgrey;
    color: white;
    transition: 250ms;
    border: none;
    padding: 4px;
}

.btn:hover {
    background-color: lightgrey;
}

.btn:hover:disabled {
    background-color: darkgrey;
}

.btn:active {
    background-color: grey;
}

.btn:disabled {
    cursor: not-allowed;
    color: rgb(220, 220, 220);
}

.rainbow-text {
    background-image: repeating-linear-gradient(to left, violet, purple, lightblue, lightgreen, yellow, orange, rgb(235, 154, 154), violet);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 4s ease-in-out infinite;
    background-size: 200% 100%;
}

@keyframes rainbow {
    0%,
    100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

.goodSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.goodSlider:hover {
    opacity: 1;
}

.goodSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3d3dca;
    cursor: pointer;
}

.goodSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3d3dca;
    cursor: pointer;
}